Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  readability-make-member-function-const,
  readability-delete-null-pointer,
  readability-else-after-return,
  readability-redundant-*,
  clang-analyzer-*,
CheckOptions:
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'boost::asio::io_context;Metrics;ThreadSafeQueue'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
